.home header {padding: 10px 0;background: #fff;margin-bottom: 10px;}
.home header table {width: 100%;}
.home header td {text-align: center;padding: 8px;}
.home header img {width: 48px;}
.home header span {display: block;font-size: 14px;padding: 8px;color: #666;}

.home .container {background: #fff;width: 100%; padding-top: 5px; }
.home .container .linestate {
  margin: 5px 15px; 
  height: 160px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 3px;
  position: relative;
}
.home .container h6 {padding-left: 15px;letter-spacing: 1px;color: white;font-size: 16px;}
.home .container h6 span {padding: 8px 10px;float: left;background-color: #00bcd4;border-radius: 0 0 3px 3px;}
.home .container p .left {position: absolute;bottom: 15px;color: white;left: 15px;}
.home .container p .right {position: absolute;bottom: 15px;color: yellow;right: 15px;}

.home footer {position: fixed;bottom: 0;border-top: solid 1px gray;width: 100%;}
.home footer ul {width: 100%;}
.home footer li {width: 33.33%;float: left;height: 40px;}